{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
  <h1>Log-in</h1>
  <div class="container">

    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% else %}

    {% endif %}
      <form action="{% url 'login' %}" method="post">
       <div class="modal">
        <p>Please, use the following form to log-in. <br>If you don't have an
        account <a href="{% url "student_registration" %}">register here</a></p>
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p class="button"><input autofocus type="submit" value="Log-in"></p>
       </div>
      </form>
  </div>
{% endblock %}
