{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}Educa{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <a href="{% url "student_course_list" %}" class="logo">ECloud</a>
      {% if request.user.is_authenticated %}
          <ul class="menu">
            <li {% if section == "courses" %}class="selected"{% endif %}>
                <a href="{% url "student_course_list" %}">Storages</a>
            </li>
            <li {% if section == "images" %}class="selected"{% endif %}>
                <a href="{% url "manage_course_list" %}">My storage</a>
            </li>
{#            <li {% if section == "people" %}class="selected"{% endif %}>#}
{#                <a href="#">People</a>#}
{#            </li>#}
          </ul>
      {% endif %}
    <span class="user">
        {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name }},
            <a href="{% url "logout" %}">Sign out</a>
        {% else %}
            <a href="{% url "login" %}">Sign in</a>
        {% endif %}
    </span>

  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script>
    $(document).ready(function() {
      {% block domready %}
      {% endblock %}
    });
  </script>
</body>
</html>
